{% extends "_layout" %}

{% block nav %}
    nav
    {% set navPages = craft.entries.section('pages').all() %}

    <ul>
        <li><a href="/craftcms/web/">Home</a></li>
        <li><a href="{{ cpUrl('') }}">Go to your Control Panel</a></li>

        {% nav entry in navPages %}

            <li><a href="{{ entry.url }}" class="{% if entry.hasDescendants() %} red {% endif %} {% if entry.getParent() %} yellow {% endif %}">{{ entry.title }}</a></li>

            {% ifchildren %}

            ^ {% children %}

            {% endifchildren %}

        {% endnav %}
    </ul>

{% endblock %}